<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="plantillas/base::base-head"></head>

<body>
<header th:include="plantillas/base::base-header"></header>

<main class="container my-5" th:fragment="base-content">
    <div class="main-content">
        <section id="inicio">
            <h1>¡Bienvenido a Reus-Oil!</h1>
            <p>Gestión de aceite usado de forma eficiente y ecológica.</p>
        </section>
    </div>
</main>

<footer th:include="plantillas/base::base-footer"></footer>
</body>
</html>
